/*Global*/

html {
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    font-family: "helvetica neue", sans-serif;
    font-size: 20px;

}


header {
    background-image: url(images/myanmar-udklip2.JPG);
    background-size: cover;
    margin: 0px;
    width: 100%;
    border-style: ridge;
    border-color: azure;

}

header img {
    margin: 10px auto;
    display: block;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;



}

body {
  background-image: url(images/wallpaper-white.jpg);
    background-size: cover;
    
}

.nav {
    text-align: right;

}

.menu {
    text-align: center;
    width: 100%;
    display: none;
}


.menu a {
    text-decoration-line: none;
    color: floralwhite;
    display: block;
    margin: 10px;
    line-height: 40px;
    text-align: center;
    border-style: groove;
    font-size: 20px;

}

.menu a:hover {
    color: chartreuse
}

label {
    font-size: 40px;
    margin: 10px;
    display: block;
    width: 30px;
    color: beige;
    float: right;
    margin-top: -60px;



}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: inline-block;
}


section img {
    width: 100%;
    border-style: groove;
    border-color: azure;
    margin: 0px;




}

h1 {
    text-align: center;
    padding-right: 10%;
}

div {
    width: 100%;
    text-align: left;


}

.knap a {
    text-decoration: none;
    font-size: 30px;
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}

.knap a:hover {
    color: darkorange
}

.knap {
    background-color: chartreuse;
    text-decoration: none;
    font-size: 30px;
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

footer {
    width: 100%;
    background-image: url(images/myanmar-udklip2.JPG);
    background-size: cover;
    clear: both;
    margin-top: 15px;
    border-style: ridge;
    border-color: azure;
}

footer p {
    color: beige;
    margin: 5px;
    font-size: 20px;

}

/*tablet*/

@media (min-width:768px) {
    header img {
        width: 30%;
    }
    section img {
        width: 50%;
        height: 50%;

    }
    div {
        width: 100%
    }

    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }

    label {
        font-size: 70px;
        padding-right: 5%;
        margin-top: -90px;
    }

    /*laptop*/
    @media(min-width: 1025px) {

        header img {
            width: 15%;
        }
        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            justify-content: flex-start;
            flex-direction: row;

        }
        section img {
            width: 25%;
            height: 25%;
            margin: 20px;


        }
        div {
            width: 50%;
            margin: 20px;
        }

        label {
            display: none;

        }
        #toggle {
            display: none;
        }

        .menu {
            display: inline;

        }

        .menu a {
            display: inline;
            border-style: none;
            margin-right: 10%;
        }




        .knap {
            width: 30%;
            height: 30%;

        }
        #rejser {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

        }

    }
